# macOS
.DS_Store

# Archives
*.zip
*.tar.gz
*.rar

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
*.egg-info/
dist/
build/

# VSCode
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Folders
outputs/
wandb/
logs/
!logs/rsl_rl/spot_rma/2026-03-29_02-27-22
!logs/rsl_rl/spot_rma/2026-03-29_12-21-51
